.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(238, 235, 235);
}

.lightsHolder {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 10px;
  height: 50%;
  background-color: black;
  margin-right: -45px;
  margin-top: -400px;
}

.trafficLights {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.redLight,
.yellowLight,
.greenLight {
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 50%;
}

.redLight {
  background-color: red;
}

.greenLight {
  background-color: green;
}

.yellowLight {
  background-color: yellow;
}

.selected {
  box-shadow: 0 0 30px 5px white;
}
